
<!-- home.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>3D Project Dashboard</title>
  </head>
  <body>
    <center>
    <h1>Project Prints</h1>
    <p>This dashboard contains linka to my 3D prints, and a live view of my 3D printer</p>
    <p><a href="https://github.com/jcwilson11/ProjectPrints.git" target="_blank">Visit my Github Repo!</a></p>
    <a href="{{ url_for('prints') }}"><button>3D Prints</button></a>
    <a href="{{ url_for('login') }}"><button>3D Printer View</button></a>
    </center>
  </body>
</html>
