<!-- prints.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>3D Prints</title>
  </head>
  <body>
    <h1>My 3D Prints</h1>
    <p>I own an Elegoo Neptune 3 Plus 3D printer</p>
    <p>I first got into 3D printing my freshmen year at Stevens. There were two design classes, and I always volunteered to oversee the designing and 3D modeling for our project. Eventually, I grew a passion for it and ended up buying my own printer and designing my own creations</p>
    <p>This page highlights some of my prints, their design parameters, and other in progrss design. </p>
    <HR><BR>
  </body>
</html>
