
<!-- prints.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>3D Prints</title>
  </head>
  <body>
    <h1>My 3D Prints</h1>
    <p>I own an Elegoo Neptune 3 Plus 3D printer, but have also used other printers such as the Creality Ender 3 v2, </p>
    <p>I first got into 3D printing my freshmen year at Stevens. There were two design classes, and I always volunteered to oversee the designing and 3D modeling for our project. Eventually, I grew a passion for it and ended up buying my own printer and designing my own creations</p>
    <p>This page highlights some of my prints, their design parameters, and other in progrss design. </p>
    <HR><BR>
    
      <center>
      <table>
        <TR> 
            <TH> Funko Shelf</TH>
        </TR>
    
        <TR>
            <TD>This a shelf I designed to hold my Funko Pop collection. It is designed to be mounted on a wall, and has a small lip to prevent the pops from falling off.</TD>
            
        </TR>
    
        </table>

        <table>
          <TR> 
              <TH>Webcam Mount</TH>
          </TR>
      
          <TR>
              <TD>This is a mount I designed to hold the webcam I use to monitor my 3D printer. It is designed to be snapped into the side grooves of the printer</TD>
          </TR>
      
        </table>

        <table>
          <TR> 
              <TH>Weather Bowl</TH>
          </TR>
      
          <TR>
              <TD>A product of my Design 1 Engineering class, the Weathe Bowl designed to determine the time of day that has the most ideal conditions for an outdoor run. To do this, I designed and 3D-printed an enclosed sensor network that would measure temperature, relative humidity, and light and placed it outdoors on campus. Each day, the sensor network collected data every thirty minutes and wirelessly published it to the Stevens MQTT server, allowing us to analyze how conditions were changing throughout the day.
              </TD>
          </TR>
          <TR>
            <TD>
              <img src="{{ url_for('static', filename='WB.BottomHalfPNG.png') }}">

              <img src="{{ url_for('static', filename='WB.FinalPic2.JPG') }}" width="325" height="300">

              <img src="{{ url_for('static', filename='WB.TopHalfPNG.png') }}" width="325" height="300">
          </TR>
        </table>

        <table>
          <TR> 
              <TH>Card Holder</TH>
          </TR>
      
          <TR>
              <TD>A simple box to hold unused giftcard, and a collection of previous hotel keys</TD>
          </TR>

          <TR>
            <TD>
              <img src="{{ url_for('static', filename='CardBoxFinal.jpg') }}" width="325" height="300">

              <img src="{{ url_for('static', filename='CardRender.png') }}" width="325" height="300">


            </TD>

          </TR>

        </table>
        </center>

  </body>
</html>
